* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    min-width: 400px;
    min-height: 200px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.option_box{
    width: 100%;
    height: auto;
    padding: 10px;
}

.button_box{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly   ;
}

button{
    width: 40%;
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color:   rgb(98, 98, 168);
}

.option{
    width: 100%;
    height: 60px;
    background-color: rgb(141, 141, 141);
    margin-bottom: 8px;
    border-radius: 10px;
    font-size: 25px;
    padding: 15px 0;
    color: black;
    text-align: center;
    cursor: pointer;
}

button:hover{
    box-shadow: 0 0 20px black;
}

button:active{
    transform: scale(0.95);
}

.start:disabled{
    cursor: not-allowed;
    opacity: 0.7;
}

.next:disabled{
    cursor: not-allowed;
    opacity: 0.7;
    box-shadow: none;
}

/* .option_box:has(.option),mkio8 */
