* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.spot {
    width: 100%;
    height: 100%;
    background: radial-gradient(black, black);
    position: absolute;
    top: 0;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}