* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}

h1 {
    font-size: 50px;
    font-family: monospace;
    border-bottom: 5px solid white;
}

.main_box {
    padding: 10px;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    background-color: #666;
    gap: 20px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: black;
    transition: all 0.2s linear;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    transition: all 0.2s linear;
}