* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(38, 41, 38);
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
}

.main {
    width: 500px;
    height: 200px;
    background-color: rgb(197, 212, 226);
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 50px black;
}

.main_time {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.main_time .hour,
.minute,
.second {
    width: 100px;
    height: 100px;
    background-color: rgb(74, 92, 92);
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

span {
    font-size: 80px;
}

.main_date {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#date {
    font-size: 30px;
}