* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 600px;
    height: 350px;
    border-radius: 10px;
    position: relative;
    overflow: scroll;
    display: flex;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

button {
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #181717;
}

.left_arrow {
    position: fixed;
    left: 30%;
    top: 50%;
    transform: translateY(-50%);
}

.right_arrow {
    position: fixed;
    right: 30%;
    top: 50%;
    transform: translateY(-50%);
}

button:hover {
    background-color: #444;
}

button:active {
    transform: translateY(-50%) scale(0.95);
}

.image_box {
    min-width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: center; */
}

@keyframes change {
    from {
        background-color: red;
    }

    to {
        background-color: rgb(255, 255, 255);
    }
}

.animate {
    animation: change 3s linear;
}