*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(56, 51, 51);
}
.main{
    width: 330px;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
}
.input_box{
    width: 100%;
    height: 100px;
}
input{
    width: 100%;
    height: 80%;
    margin-top: 5px;
    border-radius: 10px;
    font-size: 30px;
    border: none;
    color: white;
    background-color: #555;
    text-align: right;
    padding: 10px;
}
.all_buttons{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
button:active{
    transform: scale(0.95);
}
.num{
    background-color: white ;
    color: black;
}
.clear{
    background-color: crimson;
}
.operator{
    background-color: rgb(94, 148, 148);
}
button{
    width: 65px;
    height: 65px;
    font-size: 25px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.equal{
    width: 100%;
    background-color: rgb(61, 167, 61);
}