*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    width: 400px;
    height: 500px;
    padding: 10px;
    background-color: black;
}
.main_input_box{
    width: 100%;
    height: 200px;
}
.status{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(161, 126, 79);
}
.list_box{
    width: 100%;
    height: 200px;
    padding-top: 10px;
    overflow: scroll;
    scrollbar-width: none;
}
h1{
    text-align: center;
    font-size: 40px;
    margin: 10px 0;
}
input{
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px;
}
button{
    width: 49%;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    border: none;
}
#add{
    background-color: rgb(38, 38, 97);
}
#remove{
    background-color: rgb(173, 38, 38);
}
button:active{
    transform: scale(0.95);
}
#remove:disabled{
    cursor: not-allowed;
    opacity: 0.6;
}
h4{
    cursor: pointer;
    transition: all ease 0.3s;
}
h4:hover{
    color: rgb(49, 59, 196);
}
.list{
    width: 100%;
    height: 70px;
    border: 1px solid white;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    justify-content: space-between;
}
i{
    font-size: 30px;
    background-color: red;
    cursor: pointer;
    padding: 10px;
}
i:active{
    transform: scale(0.95);
}