*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center ;
    gap: 20px;
}
.math_version,.api_version{
    min-width: 500px;
    height: 250px;
}
.text{
    width: 100%;
    text-align: center;
    padding: 10px;
}
h2{
    font-size: 29px;
    color: rgb(108, 190, 105);
}
.math_box,.api_box{
    width: 100%;
    min-height:200px ;
    border-radius: 10px;
    background-color: rgb(39, 38, 38);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
h3{
    font-size:25px;
    white-space:nowrap;
}
button{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(117, 117, 54);
    transition: all ease 0.3s;
}
button:hover{
    box-shadow: 0 0 10px white;
}
p{
    font-size: 18px;
}