* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

h1 {
    font-size: 50px;
    text-align: center;
}

.stopwatch_box {
    width: 500px;
    height: 270px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #1a1919;
    box-shadow: 0 0 20px rgb(117, 113, 114);
}

.stopwatch_numbers {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(104, 141, 129);
}

.stopwatch_numbers p {
    font-size: 70px;
}

button {
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}

.s_btns {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.timer_box {
    width: 500px;
    height: 370px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #1a1919;
    box-shadow: 0 0 20px rgb(117, 113, 114);
}

.time_input {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 40px;
}

input {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 30px;
    border: none;
    outline: none;
}

.t_numbers {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(104, 141, 129);
}

.t_numbers p {
    font-size: 70px;
}

.t_btns {
    width: 100%;
    height: auot;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.t_start_btn,
.s_start_btn {
    background-color: green;
}

.t_stop_btn,
.s_stop_btn {
    background-color: rgb(93, 109, 122);
}

.t_reset_btn,
.s_reset_btn {
    background-color: red;
}

button:active {
    transform: scale(0.95);
}

.s_stop_btn:disabled {
    cursor: no-drop;
    opacity: 0.8;
}

.s_reset_btn:disabled {
    cursor: no-drop;
    opacity: 0.8;
}

.s_start_btn:disabled {
    cursor: no-drop;
    opacity: 0.8;
}

.t_start_btn:disabled {
    cursor: not-allowed;
    opacity: 0.8;
}

.t_stop_btn:disabled {
    cursor: not-allowed;
    opacity: 0.8;
}

.t_reset_btn:disabled {
    cursor: not-allowed;
    opacity: 0.8;
}