* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_box{
    width: 80%;
    min-height: 240px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    background-color: rgb(22, 22, 59);
    box-shadow: 0 0 20px rgb(104, 85, 85);
}

.header_para,.message_para{
    color: rgb(153, 139, 121);
}

.input_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input{
    width: 87%;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: 1px solid rgb(99, 88, 88);
    padding: 10px;
    font-size: 18px;
    background-color: transparent;
}

button{
    padding: 10px 30px;
    font-size: 18px;
    font-family: monospace;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: linear-gradient(to right,rgb(41, 41, 97),rgb(114, 36, 114));
    transition: all ease 0.3s;
}

button:hover{
    box-shadow: 0 0 20px rgb(255, 255, 255);
}

.message_para{
    font-size: 20px;
}

details{
    cursor:pointer;
}

.detail_para{
    margin: 10px 0;
    font: 17px;
    color: rgb(122, 125, 128);
}

.data{
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    transform: scale(0);
    transition: all 0.3s linear;
}

.city_name{
    font-size: 30px;
}

.data_header{
    height: 120px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cloud_para{
    font-size: 20px;
    color: rgb(170, 187, 202);
}

.data_middle{
    height: 90px;
}

#tempressure_text{
    font-size: 50px;
    font-weight: 500;
}

.data_footer{
    display: flex;
    gap: 150px;
}

.data_footer p{
    font-size: 20px;
    font-weight: 100;
}

.humadity_sunrise_box,.wind_sunset{
    padding: 10px;
}

span{
    font-size: 20px;
    position: absolute;
    top: 52%;
    color: rgb(139, 146, 141);
}

button:disabled{
    cursor: not-allowed;
    opacity: 0.7;
}